name: Build Termux-API

on:

  push:

    branches:

      - master

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    - name: Check out repository

      uses: actions/checkout@v2

    - name: Set up JDK 11

      uses: actions/setup-java@v2

      with:

        java-version: 11

        distribution: 'adopt'

    - name: Build Termux-API

      run: ./gradlew assembleRelease
